<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="childtracker.roti.com.childtracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".activities.ChildTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserPasswordActivity"></activity>
        <activity android:name=".activities.UserEmailActivity"></activity>
        <activity android:name=".activities.UserPhotoActivity"></activity>
        <activity android:name=".activities.DashboardActivity"></activity>
        <activity android:name=".activities.NotifyActivity"></activity>
        <activity android:name=".activities.AddMemberActivity"></activity>
        <activity android:name=".activities.AddMemberAddressActivity"></activity>
        <activity android:name=".activities.AddMemberCommentActivity"></activity>
        <activity android:name=".activities.AddMemberFathersNameActivity"></activity>
        <activity android:name=".activities.AddMemberMotherNameActivity"></activity>
        <activity android:name=".activities.AddMemberHeightActivity"></activity>
        <activity android:name=".activities.AddMemberAgeActivity"></activity>
        <activity android:name=".activities.AddMemberPhotoActivity"></activity>
        <activity android:name=".activities.NotificationsActivity"></activity>
        <activity android:name=".activities.SendMessageSuccessfulActivity"></activity>
        <activity android:name=".activities.SendMessageToCommunityActivity"></activity>
        <activity android:name=".activities.ShowRouteActivity"></activity>

        <activity
            android:name=".activities.ZoomPhotoActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.CustomDialog" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="14c41ec566647ccd863405bef5f09fbb971df17e"
            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8gvmHA_wyWULpNCzOfHYlK5LMj2a1AGE" />

        <!--Service for extending one singal notifications api-->
        <service
            android:name=".service.OneSignalNotificationExtender"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

    </application>

</manifest>